.card {
  position: relative;
  height: 100%;
  border-radius: 50px;


  .card-header {
    font-size: 1.3rem;
    font-weight: 600;
    background-color: #BFF0ED;
    border-radius: 50px;
    text-align: center;
  }

  .card-img-top {
    height: 200px;
    object-fit: contain;
    object-position: center center;
    padding: 2rem;
  }

  .card-text {
    text-align: justify;
  }

  .card-body {

    p {
      margin-bottom: 0;
    }

    a {

      &:after {
        content: "";
        display: block;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 541px;
        right: 0;
        bottom: 0;
        left: -240px;
        border: 80px solid #fff;
        border-radius: 50px;
        -webkit-transform: rotate(-30deg);
        transform: rotate(-24deg);
        z-index: -1;
        background-color: white;
        box-shadow: 200px 150px 0px 0px #BFF0ED;
      }
    }
  }

}